<div id="root" asp-prerender-module="ContentPage" asp-prerender-data="@Model">
</div>

<script>
    window.data = @Html.Raw(Json.Serialize(@Model));
</script>

@section MetaTags {
    <title>@Model.Metadata.MetaTitle</title>
    @if (string.IsNullOrWhiteSpace(@Model.Metadata.MetaDescription) is false)
    {
        <meta name="description" content="@Model.Metadata.MetaDescription" />
    }
}

@section HeadStyles {
    <link rel="stylesheet" href="~/dist/css/contentpage.css" type="text/css" asp-append-version="true" />
}

@section BodyScripts {
    <script src="~/dist/js/contentpage.js" asp-append-version="true"></script>
}
