@using System.Globalization
@using Foundation.PageContent.Components.Headers.Definitions
@inject Foundation.Media.Services.MediaServices.IMediaService MediaService

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="@MediaService.GetMediaUrl(LogoConstants.FaviconMediaId)" />
    @RenderSection("MetaTags", required: false)
    @RenderSection("HeadStyles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    @RenderSection("BodyScripts", required: false)
</body>
</html>
